.each-link-item {
  text-decoration: none;
  width: 30%;
  height: 30vh;
  flex-grow: 1;
}
.each-food-list-item {
  display: flex;
}

.each-food-image {
  width: 160px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 8px;
}

.food-text-container {
  margin-left: 10px;
}

.each-food-heading {
  color: var(--light-blue-gray-700, #334155);
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
  height: 14px;
  flex-shrink: 0;
}

.each-food-para {
  color: var(--light-blue-gray-500, #64748b);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 174px;
  height: 14px;
  margin-top: 0px;
}
.rating-container {
  display: flex;
  align-items: center;
}
.rating {
  color: var(--Light-blue-gray-800, #1e293b);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 5px;
}

.totalReviews {
  color: var(--Light-blue-gray-500, #64748b);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



@media (max-width: 768px) {
  .each-link-item {
    text-decoration: none;
    width: 95%;
    height: 20vh;
   
  }
  
 .each-food-heading {
    font-size: 12px;
    height: 20px;
    
  }
  .each-food-para {
   font-size: 12px;
   height: 8px;
  
  }
}