.cart-list {
  width: 100%;
  flex-shrink: 0;
  border: 1px solid var(--Main-Hover-Light, rgba(11, 105, 255, 0.1));
  background: #f9fbfe;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
}

.header-cart-item {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .header-cart-item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header-cart-item {
    padding-left: 36px;
    padding-top: 24px;

    padding-right: 48px;
  }
}

.header-cart-item-details-container {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .header-cart-item-details-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .header-cart-product-title-brand-container {
    width: 330px;
    margin-left: 30px;
  }
}

.header-cart-product-title {
  color: #183b56;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.2px;
}

@media screen and (min-width: 768px) {
  .header-cart-product-title {
    font-size: 16px;
  }
}

.header-cart-quantity-container {
  display: flex;
  align-items: center;
}

.header-cart-quantity {
  color: var(--Light-blue-gray-600, #475569);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

@media screen and (min-width: 768px) {
  .header-cart-quantity {
    font-size: 18px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .header-cart-quantity-container {
    width: 90px;
  }
}

.header-total-price-container {
  display: flex;
  align-items: center;
}

.header-cart-total-price {
  color: var(--Light-blue-gray-600, #475569);
  text-align: right;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.2px;
}

@media screen and (min-width: 768px) {
  .header-cart-total-price {
    font-size: 18px;
  }
  .header-total-price-container {
    width: 60px;
  }
}

.line {
  width: 1000px;
  height: 1px;
  margin-left: 40px;
}

.place-order-btn {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: #f7931e;
  color: var(--Light-base-white, #fff);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  cursor: pointer;
  outline: none;
  align-self: flex-end;
  margin-right: 38px;
}
.total-price-container {
  margin-left: 40px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-total {
  color: var(--Basic-900, #3e4c59);
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.total-price {
  color: var(--Basic-900, #3e4c59);
  text-align: right;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

@media (max-width: 768px) {
  .header-cart-item {
    display: none;
  }
  .line {
    width: 90%;
    height: 1px;
    margin-left: 20px;
  }

  .cart-list {
    width: 100%;
    border: none;
    padding-bottom: 10px;

    padding-left: 0px;
  }
}
