.carousel-container {
  width: 90%;
  margin-bottom: 30px;
  align-self: center;
}

.each-carousel-image {
  width: 100%;
}

@media (max-width:768px){
    .carousel-container{
        width: 100%;
         margin-bottom: 15px;
    }
}