.header-container {
  background: var(--light-blue-gray-50, #f8fafc);
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}
.first-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-unordered-list {
  display: flex;
  align-items: center;
  padding: 0px;
}

.second-unordered-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
}

.header-logo-image {
  width: 53px;
  height: 43px;
  flex-shrink: 0;
}
.header-first-para-link {
  text-decoration: none;
}

.header-first-para {
  color: #f7931e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  margin-left: 10px;
}

.home-list-item {
  color: #f7931e;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Headline/05 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.356px;
  margin-right: 30px;
  text-decoration: none;
}

.cart-list-item {
  color: var(--light-blue-gray-700, #334155);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Headline/05 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.356px;
  margin-right: 20px;
  text-decoration: none;
}

.logout-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  background-color: #f7931e;
  color: #ffffff;
  border: none;

  border-radius: 5px;

  cursor: pointer;
  outline: none;
}
.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 458px;
  height: 10vh;
}

.close-button {
  align-self: flex-end;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  margin-top: 32px;
  outline: none;
  cursor: pointer;
}

.nav-links-list {
  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.nav-link-item {
  list-style-type: none;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e293b;
  text-decoration: none;
  margin-bottom: 32px;
}

.hamburger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.small-close-button {
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  .header-container {
    width: 100%;

    flex-shrink: 0;
    padding-left: 20px;
    padding-right: 10px;
    background: var(--Light-blue-gray-50, #f8fafc);
  }
  .header-first-para {
    font-size: 16px;
    width: 205px;
    text-decoration: none;
  }
  .header-logo-image {
    width: 39px;
    height: 32px;
    flex-shrink: 0;
  }
  .second-unordered-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .modal-container {
    max-width: 1110px;
  }
  .popup-container {
    display: none;
  }
  .hamburger-menu {
    display: none;
  }
}