.each-restaruant-container {
  width: 100%;
  background: #fff;
  padding-bottom: 0px;
}

.restaruant-details-container {
  width: 1440px;
  height: 344px;
  flex-shrink: 0;
  background-image: url('https://res.cloudinary.com/pavankalyanbandaru/image/upload/v1651083504/tasty-kitchens/restaurant-banner-background.png');
  background-size: cover;
  padding-left: 165px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.main-image {
  width: 445px;
  height: 280px;
  flex-shrink: 0;
  border-radius: 8px;
}
.restaurant-each-detail-container {
  padding-left: 20px;
}

.restaurant-name {
  color: #fff;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 133.333% */
  letter-spacing: 0.2px;
}
.restaurant-cuisine {
  color: var(--Light-base-white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.restaurant-location {
  color: var(--Light-base-white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.restaurant-rating {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}

.unordered-food-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
 
  padding-left: 165px;
  padding-top: 32px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .each-restaruant-container {
    width: 360px;
    height: 1308px;
  }

  .restaruant-details-container {
    width: 400px;
    height: 208px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .main-image {
    width: 130px;
    height: 200px;
    flex-shrink: 0;
    border-top-right-radius: 250px;

    border-bottom-right-radius: 350px;
    border-bottom-left-radius: 100px;
    padding-bottom: 40px;
  }
  .restaurant-name {
    line-height: 8px; /* 133.333% */
    font-size: 16px;
  }
  .restaurant-cuisine {
    font-size: 12px;
    line-height: 16px; /* 150% */
  }
  .restaurant-location {
    line-height: 16px;
    font-size: 12px;
  }
  .unordered-food-items {
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 10px;
  }
}